<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xx医院</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>首页
        </h1>
        <h3><a href="/shopping/user/toRegistration"><p class="bg-primary">挂号</p></a></h3>
        <h3><a href="/shopping/docter/excellentDoctor"><p class="bg-success">优秀医生</p></a></h3>
        <h3>
            <a href="/shopping/docter/toDocter">
                <p class="bg-danger">医生查询</p>
            </a>
        </h3>

        <h3>
            <a href="/shopping/registration/findMyRegistration">
                <p class="bg-info">我的挂号</p>
            </a>
        </h3>
        <h3>
            <a href="/shopping/index?username=or6Jb1ZOLLdq5Dt3F3AMoSZ94b68">
                <p class="bg-info">在线咨询</p>
            </a>
        </h3>
    </div>

</body>
</html>