<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xx医院</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p class="bg-primary">挂号</p>
        <p class="bg-success">优秀医生</p>
        <p class="bg-warning">科室医生查询</p>
        <p class="bg-danger">医生查询</p>
        <p class="bg-info">我的挂号</p>
    </div>

</body>
</html>